BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NUXT_GEMINI_API_KEY=
NUXT_CLOUDFLARE_ACCOUNT_ID=
NUXT_CLOUDFLARE_DATABASE_ID=
NUXT_CLOUDFLARE_D1_TOKEN=
